
        body {
            margin: 0;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg,#e0f7fa,#39495a);
        }
         .card {
            width: 420px;
            padding: 25px;
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            box-shadow: 0 8px 32px rgba(0,0,0,0.3);
            color: #110f0f;
        }
        h5{
            text-align: center;
            margin-bottom: 10px;
        }
        .thankyou-img {
            display: block;
            margin: 15px auto;
            width: 200px;
        }
        .signature{
            position: absolute;
            bottom: 0px;
            right: 25px;
            font-size: 15px;
            opacity: 0.8;
        }
    