body {
            margin: 0;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
           background: linear-gradient(135deg,#e0f7fa,#39495a);
        }

        .card {
            width: 420px;
            padding: 25px;
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            box-shadow: 0 8px 32px rgba(0,0,0,0.3);
            color: #110f0f;
        }

        h1 {
            text-align: center;
            margin-bottom: 10px;
        }
         h5 {
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            font-size: 14px;
        }
        
        button {
            width: 20%;
            padding: 10px;
            margin-top: 15px;
            border: none;
            border-radius: 8px;
            background: #3f576e;
            color: #020202;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            gap: 50px;
           
        }
        .friend-img {
            display: block;
            margin: 15px auto;
            width: 100px;
        }
        
        .btn-group{
            display: flex;
            gap: 30px;
            justify-content: center;
        }
        #no{
            transition: transform 0.2s;

        }
        #no:hover {
           transform: translate(120px);
        }
        .yes-btn{
            position: static;
        }